*{
    padding: 0;
    margin: 0;
    list-style: none;
}
body,html{
    width: 100%;
    height: auto;
    background: #f3f3f3;
    position: relative;
}
header{
    height: 0.42rem;
    background: #fff;
}
.head{
    height: 0.86rem;
    background:#fff;
}
.head .headC{
    width: auto;
    height: 0.86rem;
    margin-left: 3.4rem;
    font-size: 0.36rem;
    color:#000;
    font-family: "苹方 粗体";
    line-height: 0.86rem;
    float: left;
    font-weight: bold;
}
.head .headR{
    width: 1.74rem;
    height: 0.64rem;
    border-radius: 0.3rem;
    border:0.01rem solid #eaeaea;
    float:right;
    margin-top: 0.16rem;
    margin-right: 0.14rem;
    box-sizing: border-box;
}
.head .headR .headRL{
    width: 0.87rem;
    height: 100%;
    background: url("../img/sandian_11.png") no-repeat center;
    background-size: 0.57rem auto;
    float: left;
    margin-left: 0.05rem;
}
.head .headR span{
    font-size: 0.34rem;
    font-weight: normal;
    color: #cacaca;
    float: left;
    margin-top: 0.05rem;
}
.head .headR .headRR{
    float: right;
    width: 0.7rem;
    height: 100%;
    background: url("../img/yuan_03.png") no-repeat center;
    background-size: 0.47rem auto;
}
nav{
    width: 100%;
    height: auto;
}
nav .nav{
    width: 100%;
    height: 0.88rem;
    background: #ffffff;
    margin: 0.2rem 0;
    padding: 0 0.2rem;
    box-sizing: border-box;
}
nav .nav .word{
    width: 1.8rem;
    height: 100%;
    font-size: 0.3rem;
    line-height: 0.88rem;
    float: left;
}
nav .nav .pic{
    width: 0.38rem;
    height: 0.38rem;
    float: left;
    margin-top: 0.25rem;
    margin-left: 0.2rem;
    background: url("../img/+@2x.png") no-repeat;
    background-size: contain;
}
nav .qy{
    width: 100%;
    padding: 0.2rem;
    height: 4.2rem;
    background: #ffffff;
    box-sizing: border-box;
}
nav .qy .Box{
    width: 100%;
    height: 0.77rem;
    font-size: 0.3rem;
    line-height: 0.88rem;
}
nav .qy .Box .l{
    width: 0.38rem;
    height: 0.38rem;
    float: left;
    margin-top: 0.2rem;
    background: url("../img/company.png") no-repeat;
    background-size: contain;
}
nav .qy .Box .R{
    width: 1.9rem;
    height: 100%;
    margin-left: 0.1rem;
    font-size: 0.4rem;
    line-height: 0.77rem;
    float: left;
}
nav .qy .box{
    width: 100%;
    height: 0.77rem;
}
nav .qy .box .L{
    width: 2.4rem;
    height: 100%;
    margin-left: 0.5rem;
    font-size: 0.3rem;
    line-height: 0.77rem;
    float: left;
}
nav .qy .box .r{
    width: 1.5rem;
    height: 100%;
    font-size: 0.28rem;
    line-height: 0.77rem;
    font-weight: bold;
    color: #82c5ff;
    text-align: right;
    float: right;
}
section{
    width: 100%;
    height: auto;
    margin: 0.2rem 0;
    padding: 0 0.2rem;
    background: #ffffff;
    box-sizing: border-box;
}
section .Box{
    width: 100%;
    height: 0.77rem;
    font-size: 0.3rem;
    line-height: 0.88rem;
    background: #ffffff;
}
section .Box .l{
    width: 0.38rem;
    height: 0.38rem;
    float: left;
    margin-top: 0.2rem;
    background-color: #ffffff;
    background: url("../img/yao.png") no-repeat;
    background-size: contain;
}
section .Box .R{
    width: 1.9rem;
    height: 100%;
    margin-left: 0.1rem;
    font-size: 0.4rem;
    line-height: 0.77rem;
    float: left;
}
section .yao{
    width: 100%;
    background-color: #ffffff;
    height: 2.22rem;
    border-bottom: 0.01rem solid #fcfcfc;
    position: relative;
}
section .yao .picture{
    width: 1.5rem;
    background: url("../img/ganmao.png") no-repeat center;
    height: 1.5rem;
    background-size: contain;
    float: left;
    margin-top: 0.34rem;
    margin-left: 0.5rem;
}
section .yao .Right{
    width: 4.7rem;
    height: 100%;
    float: right;
    margin-left: 0.4rem;
}
section .yao .Right .top{
    width: 4.8rem;
    height: 0.77rem;
    font-size: 0.34rem;
    line-height: 0.77rem;
    font-weight: bold;
    margin-bottom: 0.1rem;
}
section .yao .Right p{
    width: 4.8rem;
    height: 0.43rem;
    line-height: 0.43rem;
    font-size: 0.32rem;
}
section .yao .Right .tab{
    position: absolute;
    right: -22px;
    top: 12px;
    width: 90px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 0.24rem;
    background-color: #ff2256;
    color: #fff;
    transform: rotate(45deg);
}
.clear{
    width: 100%;
    height: 1.1rem;
}
footer{
    width: 100%;
    height: 1.1rem;
    border-top: 0.02rem solid #cccccc;
    position: fixed;
    left: 0;
    bottom: 0;
    background: #fff;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    box-sizing: border-box;
}
footer .footLi1{
    width: 0.6rem;
    height: 0.6rem;
    background: url("../img/tab.png") no-repeat center;
    background-size: contain;
    margin-top: 0.1rem;
}
footer .footLi1 .word{
    width: 0.6rem;
    height: 0.38rem;
    line-height: 0.38rem;
    text-align:center;
    font-size: 0.22rem;
    color: #999999;
    margin-top: 0.6rem;
}
footer .footLi2{
    width: 0.6rem;
    height: 0.6rem;
    background: url("../img/zhegnshu.png") no-repeat center;
    background-size: contain;
    margin-top: 0.1rem;
}
footer .footLi2 .word{
    width: 0.6rem;
    height: 0.38rem;
    line-height: 0.38rem;
    text-align:center;
    font-size: 0.22rem;
    color: #999999;
    margin-top: 0.6rem;
}
footer .footLi3{
    width: 0.6rem;
    height: 0.6rem;
    background: url("../img/jiesuan.png") no-repeat center;
    background-size: contain;
    margin-top: 0.1rem;
}
footer .footLi3 .word{
    width: 0.6rem;
    height: 0.38rem;
    line-height: 0.38rem;
    text-align:center;
    font-size: 0.22rem;
    color: #999999;
    margin-top: 0.6rem;
}